
@media screen and (max-width:1500px) {


    .nav{
        width: 100%;
        margin-left: 50rem;
    }
    .container{
        margin-left: 5rem;
        width: 100%;
    }
}
   









@media screen and (max-width:1907px) {
   
     body{
        overflow: hidden;
        height: 50vh;
   
     }

    .nav{
        margin-right: 432rem;
        width: 70%;
    }
    .main{
        width: 50%;
    }


    
}
@media screen and (max-width:1497px) {
    .nav{
        width:40%;
    }
    
}
@media screen and (max-width:1447px) {
    .nav{
        width:35%;
    }
.container{
    margin-left: -12rem;
}
    
}
@media screen and (max-width:1409px) {
    .nav{
        width:33%;
    }
.container{
    margin-left: -12rem;
   
}
.buttons{
    width: 100%;
}
    
}
@media screen and (max-width:1209px) {
    .nav{
        width:25%;
    }
.container{
    margin-left: -13rem;
   
}
.buttons{
    width: 100%;
}
    
}
@media screen and (max-width:963px) {
    .nav{
        width:18%;
    }
.container{
    margin-left: -19rem;
   
}
.buttons{
    width: 100%;
}
    
}
@media screen and (max-width:943px) {
    .nav{
        width:25%;
        margin-left: 26rem;
    }
.container{
    margin-left: -19rem;
   
}
.buttons{
    width: 100%;
}
    
}
@media screen and (max-width:899px) {
    .nav{
        width:22%;
        margin-left: 25rem;
    }
.container{
    margin-left: -23rem;
   
}
.buttons{
    width: 100%;
}
    
}
@media screen and (max-width:659px) {
    .nav{
        width:25%;
        margin-left: 25rem;
    }
.container{
    margin-left: -23rem;
   
}
.buttons{
    width: 100%;
}
    
}
@media screen and (max-width:568px) {
    .nav{
        width:27%;
        margin-left: 23rem;
    }
    .ino{
        margin-left: 0rem;
        width: 29rem;
    }
    .fa-camera {
        margin-left: 28rem;
    }
    .fa-microphone{
        margin-left: 26rem;
    }
    
.container{
    margin-left: -23rem;
   
}
.buttons{
    width: 100%;
}

   } 
@media screen and (max-width:512px) {
    .nav{
        width:30%;
        margin-left: 19rem;
    }
    .logo{
        margin-left: -3rem;
    }
    .ino{
        margin-left: 0rem;
        width: 25rem;
    }
    .fa-camera {
        margin-left: 23rem;
    }
    .fa-microphone{
        margin-left: 21rem;
    }
    
.container{
    margin-left: -23rem;
   
}
.buttons{
    width: 100%;
}

   } 
@media screen and (max-width:434px) {
    .nav{
        width:50%;
        margin-left: 9rem;
    }
    .logo{
        margin-left: -6rem;
    
    }
    .logo img{
        width: 60%;
    }
    .ino{
        margin-left: 0rem;
        width: 18rem;
    }
    .fa-camera {
        margin-left: 16rem;
    }
    .fa-microphone{
        margin-left: 14rem;
    }
    
.container{
    margin-left: -23rem;
   
}
.buttons{
    width: 130%;
    margin-left: 22rem;

}

   } 


   /* footer responsiveness */

@media screen and (max-width:1500px){
    .pak{
        margin-top: 7rem;
    }
}
@media screen and (max-width:2060px){
    .pak{
        margin-top: 21rem;
    }
}
@media screen and (max-width:1060px){
    .pak{
        margin-top: 21rem;
    }
}
@media screen and (max-width:414px){
    .pak{
        margin-top: 27rem;
    }
}
@media screen and (max-width:394px){
    .pak{
        margin-top: 24rem;
    }
}
@media screen and (max-width:434px){
    .pak{
        margin-top: 29rem;
    }
}
@media screen and (max-width:412px){
    .pak{
        margin-top: 31rem;
    }
}
@media screen and (max-width:360px){
    .pak{
        margin-top: 21rem;
    }
}